.ant-menu-item-selected {
  background-color: #004ca5 !important;
  color: #fff !important;
  border-radius: 16 !important;
}

.ant-menu-item-selected .ant-menu-item-icon {
  color: #fff !important;
}

.ant-menu-item-selected:hover {
  background-color: #1565C0 !important;
  color: #fff !important;
}
